extends layouts/main-layout.pug 
block content

    div#mySlider.carousel.slide(data-ride="carousel")

        ol.carousel-indicators
            li(data-target="mySlide" data-slide-to="0").active
            li(data-target="mySlide" data-slide-to="1")
            li(data-target="mySlide" data-slide-to="1")
        

        div.carousel-inner
            div.carousel-item.active
                img(src="/img/slider1.png" alt="").d-block.img-fluid
            
            div.carousel-item
                img(src="/img/slider2.png" alt="").d-block.img-fluid

            div.carousel-item
                img(src="/img/slider3.png" alt="").d-block.img-fluid
            
        a(href="#mySlider" data-slide="prev").carousel-control-prev
            span.carousel-control-prev-icon
        
        a(href="#mySlider" data-slide="next").carousel-control-next
            span.carousel-control-next-icon

    div.row
        each product in products
            div.col-md-4
                div.card.my-3
                    img(src=`/img/${product.image}` alt=`#{product.description}` ).card-img-top
                    div.card-body
                        h4.card-title
                            a(href="#") #{product.name}
                        
                        p.card-text.pt-2 #{product.description}
                    
                    div.card-footer
                        small.text-muted
                            i.fa.fa-try #{product.price}

                        a(href="#").btn.btn-secondary.btn-sm.float-right
                            i.fa.fa-angle-double-right Details

        